*{
    padding: 0;
    margin: 0;
    font-family: "Noto Sans", sans-serif;
    list-style-type: none;
}

.header{
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #8a8a8a;
    background-color: #f4eae5;
}

.logo{
    border-radius: 100%;
    padding-left: 25px;
    width: 80px;
}

@media  (max-width: 725px) {
    .nav-items {
        display: none;
    }
    .header{
        border: none;
    }
    .logo{
        width: 75px;
        padding-left: 5px;
    }
}

.nav-items {
    padding-right: 30px;
}
.nav-items > ul {
    display: flex;
}
.nav-items > ul > li {
    font-size: 1.25rem;
    padding: 20px;
}

.contact {
    border-radius: 10px;
    box-sizing: border-box;
    background-color: rgb(239, 67, 51);
    color: aliceblue;
    margin: 5px;
}
.contact:hover {
    background-color: rgb(203, 86, 35);
}
.login {
    display: flex;
}

.login {
    display: flex;
    align-items: center;
}
.log{
    margin: 10px;
    padding: 10px;
    font-size: 1rem;
    border-radius: 10px; 
}
.loginc {
    cursor: pointer;
    background-color:  rgb(239, 67, 51);
    color: aliceblue;
}
.loginc:hover {
    background-color: rgb(203, 86, 35);
}





/* this is for Cart section */

.res-container{
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
}
.res-card{
    width: 17.5rem;
    padding: 1rem;
    border-radius: 0.8rem;
    transition: all 0.2s ease;
}
.res-card:hover{
    transform: scale(0.95, 0.95);
}
.res-logo {
    border-radius: 0.8rem;
    box-shadow: 0px 2px 5px rgb(132, 132, 132);
    height: 11rem;
    width: 100%;
}
.inside_rCon{
    justify-content: space-around;
    align-items: center;
    display: flex;
}
.inside_rCon > li{
    font-weight: bold;
}
.rating {
    color: #ffffff;
    border-radius: 7px;
    padding: 5px;
}
.rCon{
    text-align: center;
}



/* Footer */
.footer{
    background-color: rgb(52, 63, 94);
}
.footer-up{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(52, 63, 94);

}
.footer-logo{
    width: 225px;
}
.footer-nv > ul{
    display: flex;
    margin: 0;
    padding: 0;
}
.footer-nv > ul > li{
    color: aliceblue;
    list-style: none;
    padding: 10px;
}

.creator{
    background-color: rgb(42, 43, 57);
    color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.creator > p {
    font-size: 0.7rem;
}

/* React Hook Button*/


.filter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.filter-left {
    border-radius: 0.35rem;
    padding: 0.35rem;
    margin: 1.5rem ;
}
.input {
    padding: 0.45rem;
    margin: 0.2rem ;
}

.search-img {
    width: 1.5rem;
    height: 1rem;
    cursor: pointer;
}
.input-btn {
    padding: 0.35rem;
}
.fliter-btn {
    border-radius: 0.35rem;
    padding: 0.35rem;
    margin: 1.2rem;
    cursor: pointer;
    color: aliceblue;
    border: 1px solid white;
    font-size: 1rem;
    background-color: rgb(239, 67, 51);
}
.fliter-btn:hover {
    background-color: rgb(203, 86, 35);
}

/* For Shimmer */

.shimmer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 4rem;
}
.inside-shimmer {
    display: flex;
    flex-direction: column;
    width: 330px;
    height: 320px;
    padding: auto;
    border-radius: 1.2rem;
    background-color:  #f5f5f5c2;
    margin: 20px;
}
.img-shimmer{
    border-radius: 1.2rem;
    background-color: #efefef;
    width: 330px;
    height: 200px;
}

.txt-shimmer-large {
    margin: 20px;
    height: 0.5rem;
    background-color: #ececec;
    width: 200px;
}

.txt-shimmer {
    margin-left: 20px;
    margin-top: 10px;
    height: 0.5rem;
    background-color: #ececec;
    width: 100px;
}



/* Delivery item */
.menuTop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0rem 20rem 0rem 20rem ;
    padding: 5rem 0rem 2rem 0rem;
    border-bottom: 0.05rem dashed #aca7a7;
}
@media  (max-width: 880px){
    .menuTop{
        margin: 1rem 4rem 1rem 4rem;
    }
}
.deli-img {
    padding-right: 0.5rem;
    width: 2.5rem;
}
.menuCuisine {
 padding: 0.6rem 0rem;
}
.menuArea{
    padding-bottom: 0.6rem;
}
.grayTxt{
    color: #9f9c9c;
}
.txtSiz{
    font-size: small ;
}
.menuTopNested {
    display: flex;
    margin: 1rem 20rem 1rem 20rem ;
    justify-content: space-between;
    width: 18rem;
}
@media  (max-width: 725px){
    .menuTopNested{
        flex-direction: column;
        margin: 1rem 4rem 1rem 4rem;
    }
}
.delivaryTime {
    padding: 0.2rem;
    display: flex;
}
.delivaryTime-logo{
    padding-right: 0.4rem;
    width: 1.5rem;
}
.costTwo{
    align-items: center;
    display: flex;
}
.costTwo-logo{
    padding-right: 0.4rem;
    height: 0.9rem;
    width: 0.8rem;
}
.menuTop-right{
    display: flex;
    border-radius: 0.5rem;
    border: 1px solid #cbc4c4;
    padding: 0.6rem 0.4rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.offer{
    display: flex;
    overflow: hidden;
    scrollbar-gutter: stable;
    margin: 0rem 20rem 0rem 20rem ;
}

.offerMenu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px;
    padding: 5px;
    height: 3.5rem;
    width: 20rem;
    border: 1px solid #cbc4c4;
    border-radius: 3px;
}

.offerMenu-top {
    text-align: center;
    color: #807f7f;
    font-size: 0.9rem;
    font-weight : bold;
}
.offerMenu-bottom {
    text-align: center;
    color: #aca7a7;
    font-size: 0.8rem;
    font-weight : bold;
}

.middle{
    font-weight: 0.5rem ;
    font-size: 1.25rem;
    margin: 2rem 20rem 2rem 20rem ;
    padding-bottom: 2rem;
    border-bottom:1px solid #807f7f;
}

.recommended{
    margin: 0rem 20rem 0rem 20rem ;
}
.cartMemu {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 0rem 2.5rem 0rem;
    border-bottom: 1px solid #9f9c9c;
}
.CartMemu-img{
    border-radius: 8px;
    width: 12.5rem;
}

.cart_details{
    padding: 0.3rem;
}
.add:hover {
    cursor: pointer;
    background-color: rgb(57, 170, 53);
}
.add{
    margin-top: 1rem;
    text-align: center;
    padding: 0.3rem;
    width: 3rem;
    background-color: rgb(59, 221, 53);
    border-radius: 8px;
    color: #ffffff;
}

.menuShimmer{
    margin: 5rem 20rem 5rem 20rem ;
    display: flex;
    flex-wrap: wrap;
}
.menuShimmerOuter{
    border-radius: 10px;
    height: 23rem;
    width: 22rem;
    margin: 18px;
    background-color: #f4f4f4e3;
}
.menuShimmerLeft{
    background-color: #efefeff6;
    margin: 1.1rem;
    height: 10rem;
    width: 20rem;
}
.menuShimmertxtSmall{
    margin-top: 3rem;
    margin-left: 1.2rem;
    width: 20rem;
    height: 1rem;
    background-color: #efefeff6;
}
.menuShimmertxtLarge{
    margin-top: 3rem;
    margin-left: 1.2rem;
    width: 12.5rem;
    height: 1rem;
    background-color: #efefeff6;
}
 /* About Section*/
.UserOuter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 2rem;
}
.UserImg{
    width: 17rem;
    border-radius: 1rem;
}
.UserRight{
    width: 70rem;
}
.userDetails{
    text-align: center;
    margin: 3rem;
}
.userMargin{
    margin-bottom: 1rem;
}
/* Shimmer About*/
.userShimmer{
    display: flex;
    margin: 3rem;
}
.userShimmerImg{
    width: 20rem;
    height: 24rem;
    background-color: #f3f2f2;
    border-radius: 1rem;
}
.userShimmerTxt{
    display: flex;
    flex-direction: column;
    margin: 2.5rem;

}
.userShimmerFirstTxt{
    width: 60rem;
    height: 1.5rem;
    background-color: #f3f2f2;
    margin-bottom: 2.5rem;
    border-radius: 0.5rem;
}

.userShimmerSecondTxt{
    width: 40rem;
    height: 1.5rem;
    background-color: #f3f2f2;
    margin-bottom: 2.5rem;
    border-radius: 0.5rem;

}

.Offline{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 1rem;
    height: 55vh;
}
.OffLogo{
    width: 22.5rem;
}
.OffTxtLi{
    margin: 0.5rem;
    font-size: larger;
}
.OffTxtLi > u {
    font-weight: bold;
}
.OffTxt{
    margin: 0.5rem;
}

/*Error page*/

.page_404{ padding:10px 0; background:#fff; font-family: 'Arvo', serif;
}

.page_404  img{ width:100%;}

.four_zero_four_bg{
 
 background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
    height: 60vh;
    width: 50vw;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;

    background-position: center;
 }
 
 
.four_zero_four_bg h1{
 font-size:80px;
 }
 
.four_zero_four_bg h3{
       font-size:80px;
       }
       
.link_404{      
  color: #fff!important;
    padding: 10px 20px;
    background: #39ac31;
    margin: 10px 0;
    display: inline-block;
    border-radius: 7.5px;
}
.link_404:hover{
    background: #209118;
}
  .contant_box_404{ margin-top:-10px;}

  .text-center{
    text-align: center;
  }
  .errtxt{
    font-size: 4rem;
    margin: 0px;
    padding: 0px;
  }